@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 14px;
  background: #eff0f1;
  color: #232629;
}
